/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 150px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2rem;
    color: #2c3e50;
}

p {
    font-size: 1rem;
    color: #7f8c8d;
}

/* Formulário de entrada */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #2980b9;
}

/* Estilo para o botão limpar */
.btn-limpar {
    background-color: #e74c3c; /* Cor vermelha */
    color: #fff;
}

.btn-limpar:hover {
    background-color: #c0392b; /* Cor vermelha escura ao passar o mouse */
}

/* Resultados */
.result-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.result-container h2 {
    color: #2c3e50;
}

footer {
    text-align: center; /* Centralizando os direitos reservados */
    margin-top: 20px;
    font-size: 0.9rem;
    color: #7f8c8d;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }
    
    button {
        font-size: 1rem;
    }
}
