body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px; /* Tamanho reduzido para tornar o layout mais compacto */
    text-align: center;
    margin: 10px;
}

h1 {
    font-size: 20px; /* Tamanho da fonte reduzido */
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 6px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px; /* Tamanho da fonte reduzido */
}

button {
    background-color: #28a745;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 48%;
    margin: 8px 1%;
    font-size: 14px; /* Tamanho da fonte dos botões reduzido */
}

button:hover {
    background-color: #218838;
}

#resultados {
    margin-top: 20px;
    display: none;
}

h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}

footer strong {
    color: #333;
}

/* Estilo da logo */
.logo {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Responsividade para telas menores */
@media (max-width: 500px) {
    .container {
        width: 90%; /* Ajuste para telas pequenas */
    }

    h1 {
        font-size: 18px; /* Ajuste o tamanho do título */
    }

    input,
